﻿@model FilmNetWeb.Models.Entities.Film

@{
    ViewBag.Title = "Informacje o filmie ";
}

<h1 style="text-align:center;">@Model.Name</h1>

<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Genre.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 style="text-align:center;">Aktorzy</h3>
        <table class="table roles-list center">
            <tr>
                <th>
                    Aktor
                </th>
                <th>
                    Rola
                </th>
            </tr>

            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td>
                        @{
                            string actorName = item.Actor.Name + " " + item.Actor.Surname;
                            @Html.DisplayFor(modelItem => actorName)
                        }
                    </td>
                    <td>
                        @{
                            string role = item.Name;
                            @Html.DisplayFor(modelItem => role)
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
<div class="row">
    <div class="col-md-8 ratings-wrapper">
        <h3 style="text-align:center;">Oceny</h3>
        @using (@Ajax.BeginForm("AddRating", "Films",
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "ratings-grid",
                                    InsertionMode = InsertionMode.Replace
                                }))
        {
            @Html.HiddenFor(model => model.FilmId)
            <div>
                <div style="display:inline-block;">
                    <label for="UserRating" style="display:inline-block;">Ocena: </label>
                    <select name="UserRating" id="UserRating" class="form-control" style="display:inline-block;width:auto;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div style="display:inline-block;">
                    <label for="Comment">Komentarz: </label>
                    <input name="Comment" type="text" class="form-control" autocomplete="off" style="display:inline-block;width:200px" />
                </div>
                <input type="submit" class="btn btn-default btn-bold" style="display: inline-block;margin-left: 10px;" id="addRating" value="Dodaj/edytuj komentarz" />
                @Html.ValidationSummary()
            </div>
        }
        <div id="ratings-grid">
            @Html.Partial("_RatingsList", Model.Ratings)
        </div>
    </div>
</div>
}
<p>
    @if (this.User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.FilmId }, new { style = "margin-right: 10px" }) 
    }
    @Html.ActionLink("Powrót do listy", "Index")
</p>
