﻿@model FilmNetWeb.Models.Entities.Film

@{
    ViewBag.Title = "Edycja filmu";
}

<h2 style="text-align: center;">Edycja filmu</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.FilmId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GenreId, "Gatunek", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("GenreId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GenreId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control textarea-default" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zapisz" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <h3 style="text-align:center;">Edytuj role</h3>
        <p>Uwaga : operacje na rolach są trwałe!</p>
        @using (@Ajax.BeginForm("AddRole", "Films",
                                        new AjaxOptions
                                        {
                                            HttpMethod = "GET",
                                            UpdateTargetId = "roles-grid",
                                            InsertionMode = InsertionMode.Replace
                                        }))
        {
            @Html.HiddenFor(model => model.FilmId)
            <div>
                <div style="display:inline-block;">
                    <label for="Name">Rola: </label>
                    <input name="name" type="text" class="form-control" autocomplete="off" style="display:inline-block;width:200px" />
                    <label for="Name">Aktor: </label>
                    @Html.DropDownList("ActorId", null, new { id = "ActorCombo", @class = "form-control", style = "display:inline-block;width:200px" })
                    <input type="submit" class="btn btn-default" id="addRole" value="Dodaj rolę" />
                </div>
                @Html.ValidationMessage("EmptyCombo")
                @Html.ValidationSummary()
            </div>
        }
        <div id="roles-grid">
            @Html.Partial("_RolesGrid", Model.Roles)
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
