﻿@model PagedList.IPagedList<FilmNetWeb.Models.Entities.Film>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Lista filmów";
}

@section scripts {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <script type="text/jscript">
        $(document).ready(function () {
            $("#GenresCombo").addClass("form-control");
            $("#GenresCombo").attr("placeholder", "Wybierz gatunek");

            $('#search-textbox').keyup(function () {
                updateGrid();
            });
            $('#GenresCombo').change(function () {
                updateGrid();
            });

            function updateGrid() {
                var url = "/Films/FilmsList";
                var searchValue = $('#search-textbox').val();
                var sortOrder = "@ViewBag.CurrentSort";
                var genre = $('#GenresCombo option:selected').val();
                $.get(url, { sortOrder: sortOrder, searchString: searchValue, genreFilter: genre, page: 1 }, function (data) {
                    $("#films-list").html(data);
                });
            }
        });
    </script>
}


<h2 style="text-align: center">Lista filmów</h2>

@if (this.User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Dodaj nowy film", "Create", null, new { @class="btn btn-default" })
    </p>
}

<div style="margin:15px 0;">
    @Html.TextBox("SearchString", null, new { placeholder = "Szukaj filmu", id = "search-textbox", autocomplete = "off", @class="form-control" })
    <label class="control-label" for="GenresCombo">Gatunek : </label>
    @Html.DropDownList("GenresCombo")
</div>

<div id="films-list">
    @Html.Partial("_FilmsList", Model)
</div>