﻿html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ECECEA;
    font-weight: bold;
    color: #000;
    margin: 0 0 50px 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #74AFAD;
    margin-top : 30px;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    min-height: 500px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    border: none;
    background-color: #74AFAD;
    border-bottom: 3px solid #163836;
}

.navbar-inverse .navbar-toggle .icon-bar {
    color : black;
    background-color: black;
}

.jumbotron {
    margin-bottom: 0px;
    background-color:#74afad;
}

.tile {
    width: 350px;
    height: 180px;
    background-color: #558C89;
    border-radius: 2px;
    display : flex;
    align-items: center;
    justify-content : center;
}

.tile h2 {
    text-align: center;
}

a:hover .tile {
    background-color: #D9853B;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    display: inline-block;
}

a:hover {
     color: inherit;
     text-decoration:none; 
     cursor:pointer;  
}

.flex-wrapper {
    display : flex;
    align-items: center;
    justify-content : center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: #74AFAD;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 3px solid #163836;
}
footer p {
    margin: 0 0 0 10px;
}
.ellipsis {
    -o-text-overflow: ellipsis; 
    text-overflow:    ellipsis;   
    overflow:hidden;              
    white-space:nowrap;           
    width: 400px;                
}
.friend-container {
    padding: 10px;
    background-color: #ECECEA;
    border-radius: 5px; 
    margin-top: 10px;
    width: 100%;
}
.friend-container:hover {
    background-color: #D9853B;
}
#GenresCombo {
    display: inline-block;
}
#search-textbox {
    display:inline-block;
}
.btn-bold {
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.textarea-default {
    width: 305px;
    height: 150px;
    resize: none;
}
.roles-list {
    width: 500px;
}
.ratings-list {
    width: 600px;
    margin-left: 20px;
}
td {
    word-break: break-all;
}
.ratings-wrapper {
    display:block;
    float: none;
    margin: 0 auto;
}
.invitation-buttons a:nth-child(2) {
    background-color: #B36464;
}
.invitation-buttons a:first-child {
    background-color: #57C757;
}