﻿@model IEnumerable<FilmNetWeb.Models.ApplicationUser>

@{
    ViewBag.Title = "Twoi znajomi";
}

<h2 style="text-align:center;">Twoi znajomi</h2>

<div class="row">
    <div class="col-md-4">
        @if (Model.Count() == 0)
        {
            <div class="friend-container">
                Nie masz żadnych znajomych
            </div>
        }
        else
        {
            foreach (var friend in Model)
            {
                @Ajax.ActionLink(friend.UserName, "DisplayDetails", new { userId = friend.Id },
                    new AjaxOptions
                    {
                        UpdateTargetId = "friend-details",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET"
                    }, new { @class = "friend-container" })
            }
        }
    </div>
    <div class="col-md-8">
        <div id="friend-details">

        </div>
    </div>
</div>