﻿@model FilmNetWeb.Models.ViewModels.InvitationViewModel

@{
    ViewBag.Title = "Zaproś znajomego";
}

<h2 style="text-align:center;">Zaproś znajomego</h2>
<div style="width:100%;margin-top:50px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-4" style="margin:0 auto;float:none;">
            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Wprowadź login" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div>
                    <input type="submit" value="Zaproś" style="margin-top:10px;" class="btn btn-default btn-bold" />
                    <div>
                        @ViewBag.StatusMessage
                    </div>
                </div>
            </div>
        </div>
    }
</div>