﻿@model IEnumerable<FilmNetWeb.Models.ViewModels.PendingInvitationViewModel>


@{
    ViewBag.Title = "Oczekujące zaproszenia";
}

<h2 style="text-align:center;">Oczekujące zaproszenia</h2>

<div id="invitations-list" style="margin:0 auto;width:auto;margin-top: 50px;">
    @Html.Partial("_InvitationsList", Model)
</div>