﻿@model PagedList.IPagedList<FilmNetWeb.Models.Entities.Log>
@using PagedList.Mvc;

@section scripts {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "FilmNet - Logi";
}

<h2>Logi</h2>

<table class="table">
    <tr>
        <th>
            Data 
        </th>
        <th>
            Akcja
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var date = item.Date;
                    @Html.DisplayFor(modelItem => date)
                }
            </td>
            <td>
                @{
                    var action = item.Action;
                    @Html.DisplayFor(modelItem => action)
                }
            </td>
        </tr>
    }
</table>

Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

