﻿@model PagedList.IPagedList<FilmNetWeb.Models.Entities.Actor>
@using PagedList.Mvc;

<table class="table">
    <tr>
        <th>
            @Ajax.ActionLink("Imię", "ActorsList", new { searchString = ViewBag.CurrentSearchString, sortOrder = ViewBag.NameSortParm },
                   new AjaxOptions
                   {
                       UpdateTargetId = "actors-list",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
        </th>
        <th>
            @Ajax.ActionLink("Nazwisko", "ActorsList", new { searchString = ViewBag.CurrentSearchString, sortOrder = ViewBag.SurnameSortParm },
                   new AjaxOptions
                   {
                       UpdateTargetId = "actors-list",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
        </th>
        <th>
            Opis
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                <div class="ellipsis" style="width:650px">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td>
                @Html.ActionLink("Pełny opis", "Details", new { id = item.ActorId })
                @if (this.User.IsInRole("Administrator"))
                {
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ActorId, }, new { style = "margin: 0 10px;" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.ActorId })
                }
            </td>
        </tr>
    }
</table>
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, searchString = ViewBag.CurrentSearchString, sortOrder = ViewBag.CurrentSort, genreFilter = ViewBag.CurrentGenre }))