﻿@model PagedList.IPagedList<FilmNetWeb.Models.Entities.Film>
@using PagedList.Mvc;

<table class="table">
    <tr>
        <th>
            @Ajax.ActionLink("Tytuł", "FilmsList", new { searchString = ViewBag.CurrentSearchString, sortOrder = ViewBag.NameSortParm, genreFilter = ViewBag.CurrentGenre, page = 1 },
                   new AjaxOptions
                   {
                       UpdateTargetId = "films-list",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
        </th>
        <th>
            Tytuł
        </th>
        <th>
            @Ajax.ActionLink("Rok wydania", "FilmsList", new { searchString = ViewBag.CurrentSearchString, sortOrder = ViewBag.YearSortParm, genreFilter = ViewBag.CurrentGenre, page = 1 },
                   new AjaxOptions
                   {
                       UpdateTargetId = "films-list",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
        </th>
        <th>
            @Ajax.ActionLink("Średnia", "FilmsList", new { searchString = ViewBag.CurrentSearchString, sortOrder = ViewBag.AverageSortParm, genreFilter = ViewBag.CurrentGenre, page = 1 },
                   new AjaxOptions
                   {
                       UpdateTargetId = "films-list",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
        </th>

        <th>
            Opis
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average)
            </td>
            <td>
                <div class="ellipsis">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td>
                @Html.ActionLink("Pełny opis", "Details", new { id = item.FilmId }) 
                @if (this.User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.FilmId }, new { style = "margin: 0 10px;" }) 
                    @Html.ActionLink("Usuń", "Delete", new { id = item.FilmId })
                }
            </td>
        </tr>
    }
</table>
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, searchString = ViewBag.CurrentSearchString, sortOrder = ViewBag.CurrentSort, genreFilter = ViewBag.CurrentGenre }))