﻿@model IEnumerable<FilmNetWeb.Models.ViewModels.PendingInvitationViewModel>

@if (Model.Count() == 0)
{
    <p style="text-align:center;">Brak oczekujących zaproszeń</p>
}
else
{
<table class="table" id="invitations-list" style="margin:0 auto;width:auto;">
    <tr>
        <th>
            Zaproszenie od
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="vertical-align:middle;">
                @{
                    @Html.DisplayFor(modelItem => item.SenderName)
                }
            </td>
            <td class="invitation-buttons">
                @Ajax.ActionLink("Akceptuj", "AcceptInvitation", new { senderId = item.SenderId },
                                     new AjaxOptions
                                     {
                                         UpdateTargetId = "invitations-list",
                                         InsertionMode = InsertionMode.Replace,
                                         HttpMethod = "POST"
                                     }, new { @class = "btn btn-default btn-bold" })
                @Ajax.ActionLink("Odrzuć", "DeclineInvitation", new { senderId = item.SenderId },
                                     new AjaxOptions
                                     {
                                         UpdateTargetId = "invitations-list",
                                         InsertionMode = InsertionMode.Replace,
                                         HttpMethod = "POST"
                                     }, new { @class = "btn btn-default btn-bold" })
            </td>
        </tr>
                    }
</table>
}