﻿@model IEnumerable<FilmNetWeb.Models.Entities.Rating>


<table class="table ratings-list">
    <tr>
        <th>
            Użytkownik
        </th>
        <th>
            Ocena
        </th>
        <th>
            Komentarz
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var user = item.User.UserName;
                    @Html.DisplayFor(modelItem => user)
                }
            </td>
            <td>
                @{
                    var rating = item.UserRating;
                    @Html.DisplayFor(modelItem => rating)
                }
            </td>
            <td>
                @{
                    var comment = item.Comment;
                    @Html.DisplayFor(modelItem => comment)
                }
            </td>
        </tr>
    }
</table>