﻿@model IEnumerable<FilmNetWeb.Models.Entities.ActorRole>


<table class="table roles-list">
    <tr>
        <th>
            Aktor
        </th>
        <th>
            Rola
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    string actorName = item.Actor.Name + " " + item.Actor.Surname;
                    @Html.DisplayFor(modelItem => actorName)
                }
            </td>
            <td>
                @{
                    string role = item.Name;
                    @Html.DisplayFor(modelItem => role)
                }
            </td>
            <td>
                @Ajax.ActionLink("Delete", "DeleteRole", new { filmId = item.FilmId, actorId = item.ActorId },
                    new AjaxOptions
                    {
                        UpdateTargetId = "roles-grid",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    })
            </td>
        </tr>
     }
</table>