﻿@model FilmNetWeb.Models.ViewModels.UserDetailsViewModel

<h2>@Model.UserName</h2>

<h5>Oceny użytkownika</h5>
<table class="table">
    <tr>
        <th>
            Film
        </th>
        <th>
            Ocena
        </th>
        <th>
            Komentarz
        </th>
    </tr>

    @foreach (var item in Model.ratings)
    {
        <tr>
            <td>
                @{
                    var filmName = item.Film.Name;
                    @Html.DisplayFor(modelItem => filmName)
                }
            </td>
            <td>
                @{
                    var userRating = item.UserRating;
                    @Html.DisplayFor(modelItem => userRating)
                }
            </td>
            <td>
                @{
                    var comment = item.Comment;
                    @Html.DisplayFor(modelItem => comment)
                }
            </td>
        </tr>
     }
</table>