﻿@{
    ViewBag.Title = "FilmNet";
}

<div class="jumbotron">
    <h1>Witaj w FilmNet!</h1>
    <p class="lead">FilmNet jest portalem gromadzącym informacje o filmach i opinie użytkowników.</p>
</div>

<div class="row">
    <div class="col-md-12 flex-wrapper">
        <a href="@Url.Action("Index", "Films")">
            <div class="tile" style="margin-right: 25px;">
                <h2>
                    Lista filmów
                    <div>
                        <span class="glyphicon glyphicon-film"></span>
                    </div>
                </h2>
            </div>
        </a>
        <a href="@Url.Action("Index", "Actors")">
            <div class="tile">
                <h2>
                    Lista aktorów
                    <div>
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                </h2>
            </div>
        </a>
    </div>
</div>