﻿@model FilmNetWeb.Models.Entities.Actor

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center;">Informacje o aktorze</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (this.User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ActorId })
    }
    @Html.ActionLink("Powrót do listy", "Index")
</p>
