﻿@model PagedList.IPagedList<FilmNetWeb.Models.Entities.Actor>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Lista aktorów";
}

@section scripts {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <script type="text/jscript">
        $(document).ready(function () {
            $('#search-textbox').keyup(function () {
                updateGrid();
            });

            function updateGrid() {
                var url = "/Actors/ActorsList";
                var searchValue = $('#search-textbox').val();
                var sortOrder = "@ViewBag.CurrentSort";
                $.get(url, { sortOrder: sortOrder, searchString: searchValue }, function (data) {
                    $("#actors-list").html(data);
                });
            }
        });
    </script>
}

<h2 style="text-align:center;">Lista aktorów</h2>

@if (this.User.IsInRole("Administrator"))
{
<p>
    @Html.ActionLink("Dodaj nowego aktora", "Create", null, new { @class = "btn btn-default btn-bold" })
</p>
}
<div style="margin:15px 0;">
    @Html.TextBox("SearchString", null, new { placeholder = "Szukaj aktora", id = "search-textbox", autocomplete = "off", @class="form-control" })
</div>

<div id="actors-list">
    @Html.Partial("_ActorsList", Model)
</div>